.board {
  width: 100vmin;
  height: 100vmin;
  margin: auto;

  .row {
    display: flex;
    height: 12%;

  }

  .col {
    width: 12%;
    color: red;
    font-size: 12vmin;
  }
  .b {
    background-color: black;
  }
  .w {
    background-color: white;
  }
}
