.board {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  border: 10px solid green;
  border-style: groove;

  .row {
    display: flex;
    height: 12.5%;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    color: red;
    font-size: 10vmin;
  }
  .b {
    background-color: rgb(0, 0, 0);
  }
  .w {
    background-color: white;
  }
}

.pointer {
  cursor: pointer;
}

.highlighted {
  position: relative;
  cursor: pointer;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(red, transparent, transparent);
  }
}
